<div class="container">
    <p>Clever Crow Games images such as Coal and the barrel All Rights Reserved (use your own images)</p>
    <p>Sprite Animator created by <a href="http://clevercg.com">Clever Crow Games</a> for the HTML5 game <a href="http://playadnc.com">Play ADNC</a>.</p>
    <p class="pull-right">Fork our code <a href="https://github.com/ashblue/sprite-animator" title="Fork the source code" class="fa fa-git fa-5x"></a></p>
    <p><a href="https://twitter.com/Clever_Crow" class="fa fa-twitter-square fa-2x"></a> <a href="https://www.facebook.com/clevercrowgames" class="fa fa-facebook-square fa-2x"></a></p>
</div>
