<div class="image-view">
    <h2>Images
        <small>Alt to uploading an image</small>
    </h2>
    <input style="margin-bottom: 10px" class="form-control" type="search" ng-model="imageSearch" placeholder="Filter">

    <div class="list-group" ng-repeat="image in imagesCtrl.list | filter:imageSearch | limitTo:20 | reverse">
        <a href="#" class="list-group-item" ng-click="imagesCtrl.showImage($event, image)">
            <span class="pull-left" style="margin-right: 10px">
                <img class="thumb-constrain" ng-src="{{image.src}}"/>
            </span>

            <div class="media-body">
                <h4 class="media-heading">{{image.name}}</h4>
                Width: {{image.width}}, Height: {{image.height}}
                <button ng-click="imagesCtrl.editImage($event, image)" class="btn btn-default btn-xs pull-right"><span
                        class="glyphicon glyphicon-edit"></span></button>
                <button ng-click="imagesCtrl.removeImage($event, image)" style="margin-right: 5px;"
                        class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </a>
    </div>
</div>