<div class="modal fade" id="modal-loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <h4 ng-hide="loader.errorMessage" class="text-center">{{loader.status}}</h4>
                <p class="text-center" ng-show="loader.errorMessage"><span class="label label-danger">{{loader.errorMessage}}</span></p>

                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" style="width: {{loader.getPercentage()}}%">
                    </div>
                    <i class="fa fa-cog fa-spin moving-icon"></i>
                </div>

            </div>

            <div class="modal-footer">
                <p class="text-center">Hold on there while we run the initial setup</p>
            </div>
        </div>
    </div>
</div>