<div class="animation-stage-container"
     ng-show="stage.show"
     ng-style="stage.getStage()">
    <animation-image class="animation-image"
                     ng-repeat="timelineItem in stage.list | orderBy:'zIndex':true"
                     ng-style="stage.getScrubStyle(timelineItem)"
                     ng-class="{ lock: timelineItem.lock, active: stage.isSelected(timelineItem) }"
                     ng-show="timelineItem.show"
                     ng-click="stage.setSelected(timelineItem)"
                     drag-image
                     data-id="{{timelineItem._id}}"
                     data-src="{{trustSrc(stage.getImage(timelineItem.sprite))}}"
                     data-sprite="{{timelineItem.sprite}}">
        <span class="animation-image-canvas"></span>
        <animation-image-axis class="animation-image-axis fa fa-crosshairs"></animation-image-axis>
    </animation-image>


    <div ng-show="stage.isHitBoxVisible()" class="hitbox" ng-style="stage.getHitBox()">
        <span resize-stage class="handle"></span>
    </div>
</div>